.room {
  position: relative;
  width: 349px;
  height: 233px;
  margin: 2rem auto;
  border-radius: 4px;
  overflow: hidden;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
}

.ceiling {
  position: absolute;
  top: 0;
  left: 0;
  width: 349px;
  height: 9px;
  z-index: 1;
}

.wall {
  position: absolute;
  top: 0;
  left: 0;
  width: 349px;
  height: 200px;
  z-index: 0;
}

.baseboard {
  position: absolute;
  bottom: 33px;
  left: 0;
  width: 349px;
  height: 3px;
  z-index: 2;
}

.floor {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 349px;
  height: 33px;
  z-index: 3;
}

/* ====== FURNITURE ====== */
.sofa {
  position: absolute;
  bottom: 16px;
  left: 63px;
  width: 176px;
  height: 80px;
  z-index: 5;
}

.curtain {
  position: absolute;
  top: 9px;
  left: 17px;
  width: 90px;
  height: 191px;
  z-index: 4;
}

.cushion {
    position: absolute;
    bottom: 55px;
    left: 83px;
    width: 34px;
    height: 32px;
    z-index: 6;
}

.cushion2 {
    position: absolute;
    bottom: 55px;
    left: 186px;
    width: 34px;
    height: 32px;
    z-index: 6;
}

.door {
  position: absolute;
  bottom: 32px;
  right: 10px;
  width: 67px;
  height: 156px;
  z-index: 4;
}

.handle {
  position: absolute;
  bottom: 98px;
  right: 56px;
  width: 13px;
  height: 5px;
  border-radius: 50%;
  z-index: 5;
}

.carpet {
  position: absolute;
  bottom: 3px;
  left: 63px;
  width: 176px;
  height: 11px;
  z-index: 4;
}

.painting {
  position: absolute;
  top: 29px;
  right: 155px;
  width: 44px;
  height: 60px;
  z-index: 6;
}
.spotlight {
    position: absolute;
    bottom: 109px;
    right: 112px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 9;
}

.bracket {
    position: absolute;
    bottom: 15px;
    right: 83px;
    width: 37px;
    height: 117px;
    z-index: 8;
}
.shadow {
  position: absolute;
  top: 21px;
  right: 261px;
  width: 56px;
  height: 166px;
  z-index: 7;
}

/* ====== النصوص ====== */
.title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.par {
  font-size: 14px;
  margin: 4px 0;
  text-align: center;
  color: #555;
}
