:root {
  /* Colors */
  --primaryColor: #AB874B;
  --secondaryColor: #C5A372;
  --textColor: #11171C;
  --backgroundColor: #FCF9F5;
  --whiteColor: #FFFFFF;

  /* Border radius */
  --border-radius: 8px;
  --br5: 5rem;

  /* Font sizes */
  --fs45: 4.5rem;
  --fs40: 4rem;
  --fs35: 3.5rem;
  --fs30: 3rem;
  --fs25: 2.5rem;
  --fs20: 2rem;
  --fs15: 1.5rem;
  --fs10: 1rem;
  
  /* Font aliases */
  --ar: var(--font-changa);
  --en: var(--font-poppins);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-size: 62.5%;
}

::selection {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

body {
  font-family: var(--ar), sans-serif; /* Arabic font */
  direction: rtl;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--whiteColor);
  color: var(--textColor);
  margin: 0 auto;
}

/* Titles in English */
h1, h2, h3 {
  font-family: var(--en), sans-serif;
}

/* Main container */
.mainContainer {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;  
}

/* Mobile nav */
.mobNav {
  width: 100%;
  position: fixed;
  top: 90%;
  z-index: 10;
  display: flex;
  justify-content: center;
}

/* not-found & error & loading */
.cont {
  background-color: var(--backgroundColor);
  width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
}

.tit {
  font-size: var(--fs25);
  color: var(--textColor);
  font-weight: 700;
}

.btn {
  padding: 0.5rem 1.5rem;
  background-color: var(--primaryColor);
  text-decoration: none;
  color: var(--backgroundColor);
  font-size: var(--fs15);
  border-radius: var(--br5);
  border: 1px solid var(--primaryColor);
  transition: 0.3s ease;
}

.btn:hover {
  border: 1px solid var(--textColor);
  background-color: var(--secondaryColor);
}
