.homeContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.heroSection {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.homeImg {
  width: 100%;
  height: auto;
  z-index: -1;
  position: absolute;
}
.homeBG {
  background: var(--backgroundColor);
  width: 100%;
  position: sticky;
  top: 454px;
  border-radius: 3rem 3rem 0px 0px;
  padding: 5%;
}
.textCont {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
  line-height: 1;
}
.h1a {
  font-family: poppins;
  font-size: var(--fsH1);
  color: var(--textColor);
  direction: ltr;
  font-weight: 700;
}
.h3a {
  font-family: poppins;
  font-size: var(--fsH3);
  color: var(--textColor);
  direction: ltr; 
  font-weight: 400;
  line-height: 0.1;
}
.h3b {
  color: var(--primaryColor);
  font-weight: 500;
  font-size: var(--fsH3);
}
.h1b {
  font-size: var(--fsH1);
  color: var(--textColor);
  font-weight: 700;
  margin-top: -0.5rem;
}
.h3c {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: var(--fsH3);
  line-height: 1;
  margin-bottom: 1rem;
}
.h4 {
  font-size: var(--fsH4);
  color: var(--textColor);
  font-weight: 500;
}