@import './responsive.css';

:root {
  /* Colors */
  --primaryColor: #AB874B;
  --secondaryColor: #C5A372;
  --textColor: #11171C;
  --backgroundColor: #F5EFE8;
  --whiteColor: #FFFFFF;

  --errorColor: #B82020;        
  --errorColorLight: #E26565;  
  --successColor: #3BAA62;     
  --successColorLight: #7FCB97;
  --infoColor: #007AFF;     
  --infoColorLight: #7AB7FF;   

  /* Border radius */
  --border-radius: 8px;
  --br5: 5rem;

  /* Font sizes */
  --fs-h1: clamp(2.6rem, 4vw, 3.6rem);
  --fs-h2: clamp(2rem, 3vw, 3rem);
  --fs-h3: clamp(1.6rem, 2vw, 2.4rem);
  --fs-h4: clamp(1.4rem, 1.5vw, 2rem);
  --fs-body: clamp(1.4rem, 1.2vw, 1.8rem);
  --fs-small: clamp(1.2rem, 1vw, 1.4rem);

  /* Font aliases */
  --ar: 'Changa', sans-serif;
  --en: 'Poppins', sans-serif;
}

::selection {
  background-color: var(--primaryColor);
  color: var(--whiteColor);
}

/* Reset + basic styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--ar);
  direction: rtl;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-size: 10px
}

body {
  font-family: var(--ar);
  direction: rtl;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: var(--whiteColor);
  color: var(--textColor);
  margin: 0 auto;
  font-size: 10px
}


/* Main container */
.mainContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Mobile nav */
.mobNav {
  width: 100%;
  position: fixed;
  top: 90%;
  z-index: 10;
  display: flex;
  justify-content: center;
}
