.navbar {
  display: flex;
  align-items: center;
  background-color: var(--primaryColor);
  border: 1px solid var(--backgroundColor);
  height: 50px;
  width: 235px;
  z-index: 15;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: var(--br5);
}

.button {
  background: none;
  border: none;
  outline: none;
  display: flex;
  flex: 1;
  height: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}

.icon {
  width: 100%;
  height: 100%;
  fill: var(--backgroundColor);
  stroke: var(--backgroundColor);
  transition: stroke 0.3s ease, fill 0.3s ease, background-color 0.3s ease;
  border-radius: var(--br5);
  padding: 10px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover {
  fill: var(--backgroundColor);
  stroke: var(--backgroundColor);
  background-color: var(--secondaryColor);
}

.activeIcon {
  fill: var(--backgroundColor);
  stroke: var(--backgroundColor);
  background-color: var(--secondaryColor);
}

@media (min-width: 430px) {
  .navbar {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .navbar {
    width: 350px;
    height: 60px;
  }

  .icon {
    padding: 12px 30px;
  }
}

@media (min-width: 1024px) {
  .navbar {
    width: 400px;
    height: 70px;
  }

  .icon {
    padding: 15px 40px;
  }
}

@media (min-width: 1280px) {
  .navbar {
    width: 450px;
  }
}