.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
}

.menu {
  background: var(--secondaryColor);
  width: 60%;
  height: 100%;
  position: relative;
  direction: rtl;
  border-radius: 3rem 0 0 3rem;
  border: 0.15rem solid var(--backgroundColor);
  padding: 4rem 4rem 0 0;
}

.closeButton {
  background: none;
  border: none;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.closeIcon {
  width: 4rem;
  height: 4rem;
  border-radius: 5rem;
  color: var(--primaryColor);
  background-color: var(--backgroundColor);
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
}

.link {
  text-decoration: none;
}

.firstLink {
  color: var(--backgroundColor);
  font-size: var(--fs-h5);
  font-weight: 500;
}
.secLink {
  color: var(--textColor);
  font-size: var(--fs-5);
  font-weight: 500;
  margin-right: 2.5rem;
}