.container {
  width: 100%;
  min-height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer {
  background: var(--backgroundColor);
  width: calc(100% - 4rem);
  border-radius: var(--br5);
  padding: 3rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: var(--fs25);
  margin-bottom: 2rem;
  color: var(--primaryColor);
  text-align: center;
  line-height: 1.5;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formGroup {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.label {
  font-size: var(--fs15);
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.input {
  text-align: right;
  border: none;
  outline: none;
  padding: 1rem 2rem;
  border: 1px solid var(--primaryColor);
  border-radius: var(--br5);
  font-size: var(--fs15);
  background-color: var(--whiteColor);
  font-family: var(--ar);
  color: var(--textColor);
  appearance: none;
  width: 100%;
  margin-bottom: 1rem;
}

.button {
  padding: 0.8rem;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 5rem;
  border: 1px solid var(--primaryColor);
  font-size: var(--fs20);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--ar);
  color: var(--backgroundColor);
  margin: 1.5rem 0;
  width: 100%;
}

.button:hover {
  border: 1px solid var(--textColor);
}

.errorText {
  color: red;
  font-size: var(--fs15);
  margin-top: 0.5rem;
}

/* Verify */
.labelVerify {
  font-size: var(--fs15);
  font-weight: 500;
  margin-bottom: 0.5rem;
  text-align: center;
}

.buttonVerify {
  padding: 0.8rem;
  background-color: var(--primaryColor);
  border: none;
  border-radius: 5rem;
  border: 1px solid var(--primaryColor);
  font-size: var(--fs20);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--ar);
  color: var(--backgroundColor);
  margin: 1.5rem 0 0;
  width: 100%;
}

.buttonVerify:hover {
  border: 1px solid var(--textColor);
}
.smallButtonVerify {
  padding: 0.8rem 1.5rem;
  background-color: var(--textColor);
  border: none;
  border-radius: 5rem;
  border: 1px solid var(--textColor);
  font-size: var(--fs10);
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  font-family: var(--ar);
  color: var(--backgroundColor);
  margin: 1rem 0 0;
  width: 100%;
}

.smallButtonVerify:hover {
  border: 1px solid var(--primaryColor);
}