.profileSection {
  display: flex;
  flex-direction: column;
  background-color: var(--backgroundColor);
  width: calc(100% - 4rem);
  border-radius: var(--br5);
  padding: 3rem;
  margin: 2rem 2rem 0;
}
.title {
  font-size: var(--fs-h3);
  margin-bottom: 1.5rem;
  color: var(--primaryColor);
  text-align: center;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--whiteColor);
  border: 1px solid var(--primaryColor);
  border-radius: var(--br5);
}

.image {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: var(--br5);
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  padding: 1.5rem 2rem;
}
.detailRow {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  text-align: right;
  direction: rtl;
  margin-bottom: 4px;
  font-size: 15px;
}

.label {
  color: var(--primaryColor); 
  font-weight: 500;
  margin-right: 1rem;
}

.value {
  font-weight: 500;
}

.date {
  font-size: var(--fs-h5);
  margin-top: 0.5rem;
}
.filterRow {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.filterLabel {
  font-weight: 500;
  font-size: var(--fs-h5);
  direction: rtl;
  text-align: right;
  padding-right: 1rem;
  margin-bottom: 0.5rem;
}
.offerButton {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
  border: 1px solid var(--primaryColor);
  border-radius: var(--br5);
  font-size: var(--fs-h5);
  font-family: var(--ar);
  font-weight: 600;
  cursor: pointer;
}

.offerButton:hover {
  border: 1px solid var(--textColor);
}
.noResults {
  text-align: center;
  font-size: var(--fs-h5);
  padding: 2rem 1rem;
}
