.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.imgContainer {
    min-height: 47vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signImg {
    height: 200px;
    width: auto;
}

.borderCont {
    min-height: 53vh;
    background: var(--whiteColor);
    border-radius: var(--br5);
    padding: 0.1rem 0;
    margin-top: -4.5rem;
}

.formContainer {
    background: var(--backgroundColor);
    width: calc(100% - 4rem);
    border-radius: var(--br5);
    padding: 3rem;
    margin: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: var(--en);
    font-size: var(--fs-h1);
    direction: ltr;
    font-weight: 600;
    color: var(--primaryColor);
}

.titleSpan {
    font-family: var(--en);
    font-size: var(--fs-h4);
    direction: ltr;
    font-weight: 400;
    color: var(--primaryColor);
}

.description {
    font-size: var(--fs-h2);
    font-weight: 600;
    text-align: center;
    margin: -1.3rem 0 1rem;
}

.registerBtnCont {
    display: flex;
    justify-content: start;
    width: 100%;
    margin: 0 0 2rem 0;
}

.registerBtn {
    background-color: var(--primaryColor);
    color: var(--backgroundColor);
    padding: 0.5rem 1.5rem;
    border: 1px solid var(--primaryColor);
    border-radius: var(--br5);
    font-size: var(--fs-body);
    font-weight: 500;
    cursor: pointer;
    margin: 0.5rem -1.5rem 0 0;
    font-family: var(--ar);
}

.registerBtn:hover,
.registerBtn:active,
.registerBtn:focus {
    border: 1px solid var(--textColor);
}

.input {
    text-align: right;
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border: 1px solid var(--primaryColor);
    border-radius: var(--br5);
    font-size: var(--fs-small);
    background-color: var(--whiteColor);
    font-family: var(--ar);
    color: var(--textColor);
    appearance: none;
    width: 100%;
    margin-bottom: 1rem;
}

.button {
    background-color: var(--primaryColor);
    color: white;
    padding: 0.8rem 0;
    border: none;
    border-radius: var(--br5);
    font-size: var(--fs-body);
    cursor: pointer;
    margin-top: 0.3rem;
    width: 100%;
    font-family: var(--ar);
    border: 1px solid var(--primaryColor);
}

.button:hover,
.button:active,
.button:focus {
    border: 1px solid var(--textColor);
}

.forget {
    font-size: var(--fs-body);
    color: var(--grayText);
    margin-top: 0.5rem;
    cursor: pointer;
    text-decoration: underline;
    text-align: center;
    font-family: var(--ar);
}

@media (min-width: 375px) {
    .signImg {
        height: 220px;
    }
}

@media (min-width: 430px) {
    .signImg {
        height: 240px;
    }
    .borderCont {
        display: flex;
        align-items: center;
        justify-content: center;
}
    .formContainer {

    width: calc(100% - 8rem);
    padding: 3rem 6rem;
}
}

@media (min-width: 768px) {
    .signImg {
        height: 260px;
    }
    .borderCont {
        display: flex;
        align-items: center;
        justify-content: center;
}
.formContainer {
    width: calc(100% - 24rem);
    padding: 3rem 6rem;
}
}


@media (min-width: 1024px) {
    .container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
}

.imgContainer {
    min-width: 45vw;
}

.signImg {
    height: 350px;
}

.borderCont {
    min-width: 55vw;
    padding: 0.1rem 0;
    margin: 0 -4rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: calc(100% - 4rem);
    padding: 3rem 6rem;
    margin: 3rem 2rem;
    gap: 0.5rem;
}
}

@media (min-width: 1280px) {
        .container {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: row;
}

.imgContainer {
    min-width: 45vw;
}

.signImg {
    height: 350px;
}

.borderCont {
    min-width: 55vw;
    padding: 0.1rem 0;
    margin: 0 -4rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer {
    width: calc(100% - 4rem);
    padding: 3rem 6rem;
    margin: 3rem 2rem;
    gap: 0.5rem;
}
}