.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 3rem;
    width: calc(100% - 4rem);
    gap: 4rem;
    margin: 0rem 2rem 3rem;
    background-color: var(--backgroundColor);
    border-radius: var(--br5);
}
.title {
    font-size: var(--fs-h3);
    color: var(--primaryColor);
    margin-bottom: -3.5rem;
    font-family: var(--ar);
}
.description {
    font-size: var(--fs-body);
    text-align: center;
    font-family: var(--ar);
}
.card {
    width: 100%;
    aspect-ratio: 7 / 6;
    border-radius: var(--br5);
    overflow: hidden;
    background-color: var(--whiteColor);
    border: 1px solid var(--primaryColor);
    transition: transform 0.3s ease;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-3px);
}

.cardImage {
    width: 100%;
    height: 75%;
    object-fit: cover;
}

.cardFooter {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5rem 1rem;
}

.cardTitle {
    font-size: var(--fs-body);
    font-weight: 600;
    font-family: var(--ar);
}

.arrowButton {
    background: var(--primaryColor);
    border: none;
    border-radius: 50%;
    padding: 0.3rem;
    color: var(--backgroundColor);
    transition: color 0.3s;
    cursor: pointer;
}

.arrowButton:hover {
    color: var(--textColor);
}

.icon {
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}