.homeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heroSection {
  width: 100%;
  margin: 0 auto;
}
.imgContainer {
  min-width: 390px;
  min-height: 390px;
  position: relative;
}
.homeImg {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
}
.borderCont {
  background: var(--whiteColor);
  width: 100%;
  border-radius: var(--br5);
  padding: 0.1rem 0;
  margin-top: -4.5rem;
}
.textContainer {
  width: calc(100% - 4rem);
  background-color: var(--backgroundColor);
  border-radius: var(--br5);
  padding: 3rem;
  margin: 3rem 2rem 0;
  font-family: var(--ar);
}
.h1a {
  font-family: var(--en);
  font-size: var(--fs-h2);
  direction: ltr;
  font-weight: 700;
}
.h1Span {
  font-family: var(--en);
  font-size: var(--fs-h4);
  direction: ltr; 
  font-weight: 400;
}
.h3b {
  color: var(--primaryColor);
  font-weight: 500;
  font-size: var(--fs-h5);
  font-family: var(--ar);
}
.h1b {
  font-size: var(--fs-h1);
  font-weight: 700;
  margin-top: -0.5rem;
  font-family: var(--ar);
}
.h3c {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: var(--fs-h5);
  line-height: 1;
  margin-bottom: 1rem;
  font-family: var(--ar);
}
.h4 {
  font-size: var(--fs-5);
  font-weight: 500;
}
.servicesSection {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.sectionTitle {
  color: var(--primaryColor);
  font-weight: 600;
  font-size: var(--fs-h3);
}

.FinishOrMaintenanceCard {
  width: 100%;
}
.aboutUs {
  width: 100%;
}
.contactUs {
  width: 100%;
}