.container {
  width: 100%;
  padding: 3rem 2rem;
  background-color: var(--backgroundColor);
}

.cardContainer {
    width: calc(100%-4rem);
    display: flex;
    gap: 2rem;
    flex-direction: column;
    margin-bottom: 10rem;
}

.pageTitle {
  font-size: var(--fs-h3);
  font-weight: 600;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  border: 1px solid var(--primaryColor);
  border-radius: var(--br5);
  background-color: var(--whiteColor);
  padding: 2rem;
}

.header {
  display: flex;
  margin-bottom: 0.5rem;
  flex-direction: column;
  width: 100%;
}
.infoHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  font-size: var(--fs-h4);
  font-weight: 500;
  color: var(--primaryColor);
}

.price, .gov {
  font-size: var(--fs-h5);
  font-weight: 500;
}

.label {
  font-size: var(--fs-h5);
  color: var(--primaryColor);
  font-weight: 500;
}

.value {
  font-weight: 500;
  color: var(--textColor);
  font-size: var(--fs-h5);
}

.works {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  margin-top: 0.5rem;
  height: 100px;
  align-items: center;
}

.workImage {
  width: auto;
  height: auto;
  max-height: 100px;
  object-fit: cover;
  flex-shrink: 0;
  scroll-snap-align: start;
  border-radius: var(--br5);
  border: 1px solid var(--primaryColor);
}

.actions {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.btn {
  padding: 0.5rem 1rem;
  font-size: var(--fs-5);
  background-color: var(--primaryColor);
  color: var(--backgroundColor);
  border: 1px solid var(--primaryColor);
  border-radius: var(--br5);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: var(--ar);
  margin: 0  0 0.5rem;
}
/* صورة الأعمال */
.workImage {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--br5);
  cursor: pointer;
}

/* الطبقة العلوية */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* المربع الداخلي */
.popup {
  position: relative;
  background: var(--backgroundColor);
  border-radius: var(--br5);
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* الصورة المكبرة */
.popupImage {
  width: 100%;
  height: 100%;
  border-radius: var(--br5);
}

/* زر الإغلاق */
.closeBtn {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 18px;
  background: none;
  border: none;
  color: #333;
  cursor: pointer;
}
